* {
    box-sizing: border-box;
    margin: 0px;
}

body {
    background: #E7E9EB;
}

#editorContainer {
    position: relative;
    width: 100%;
    height: 200px;
    border: 3px solid grey;
}

#output {
    min-height: 150px;
    width: 100%;
    background-color: #1E1E1E;
    font-family: monospace;
    color: white;
    padding: 5px;
    border: 3px solid grey;
}

.header {
    margin: 0;
    background: #57a958;
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 4px;
    font-family: sans-serif;
}

.switch-container {
    display: flex;
    align-items: center;
    margin: 3px;
    margin-left: 10px;
}

.switch-label {
    font-size: 16px;
    margin-right: 10px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 20px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked+.slider {
    background-color: #57a958;
}

input:focus+.slider {
    box-shadow: 0 0 1px #57a958;
}

input:checked+.slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}

.slider.round {
    border-radius: 20px;
}

.slider.round:before {
    border-radius: 50%;
}

.run-button {
    background: #57a958;
    color: white;
    cursor: pointer;
    border: none;
    width: 70px;
    height: 30px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    margin: 2px;
    margin-left: 10px;
}

.run-button:hover {
    background: #449c44;
}

@media screen and (min-width: 768px) {
    #editorContainer {
        width: 100%;
    }

    .header {
        justify-content: space-between;
        padding: 5px;
    }

    #output {
        width: 100%;
    }
}